<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Index</title>
  </head>

  <body>
    <H3>page: Index</H3>
    <br/>

<!--    <div th:each="itemCar : ${arrCars}">-->
<!--      <a th:href="@{/cars/{id}(id=${itemCar.getId()})}"-->
<!--         th:text="${itemCar.getId()} + ' '-->
<!--             + ${itemCar.getModel()} + ' '-->
<!--             + ${itemCar.getSeries()} + ' '-->
<!--             + ${itemCar.getColor()}">car</a>-->
<!--    </div>-->
<!--    <br/><br/><br/>-->

    <table border="2">
      <tr>
        <th style="width: 40px; background-color: lightcyan;">id</th>
        <th style="width: 150px; background-color: lightcyan;">model</th>
        <th style="width: 100px; background-color: lightcyan;">series</th>
        <th style="width: 25%; background-color: lightcyan;">color</th>
        <th style="width: 110px; background-color: lightcyan;">action</th>
      </tr>
      <tr th:each="itemCar : ${arrCars}">
        <td style="text-align: center;" th:utext="${itemCar.getId()}">id</td>
        <td th:utext="${itemCar.getModel()}">model</td>
        <td style="text-align: center;" th:utext="${itemCar.getSeries()}">series</td>
        <td th:utext="${itemCar.getColor()}">color</td>
        <td style="text-align: center;"> <em> <a th:href="@{/cars/{id}(id=${itemCar.getId()})}">View details</a> </em> </td>
      </tr>
    </table>

    <br/> <br/> <hr/> <br/>

    <form th:method="GET" th:action="@{/cars/new/}">
      <input type="submit" value="Create new car"/>
    </form>

    <br/>
  </body>
</html>
