<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>New car</title>
    </head>
    <body>
        <H3>page: New car</H3>
        <br/>

        <form th:method="POST" th:action="@{/cars/}" th:object="${newCar}">
            <label for="model">Enter model: </label>
            <input type="text" th:field="*{model}" id="model"/>
            <br/>

            <label for="series">Enter series: </label>
            <input type="text" th:field="*{series}" id="series"/>
            <br/>

            <label for="color">Enter color: </label>
            <input type="text" th:field="*{color}" id="color"/>

            <br/> <br/> <br/> <hr/> <br/>

            <input type="submit" value="Create car"/>
        </form>
        <br/>

        <form th:method="GET" th:action="@{/cars/}">
            <input type="submit" value="To main page"/>
        </form>
        <br/>
    </body>
</html>
