<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Show car</title>
    </head>

    <body>
        <H3>page: Show car</H3>
        <br/>

<!--        <p th:text="'id = ' + ${showCar.getId()}">VALUE</p>-->
<!--        <p th:text="'model = ' + ${showCar.getModel()}">VALUE</p>-->
<!--        <p th:text="'series = ' + ${showCar.getSeries()}">VALUE</p>-->
<!--        <p th:text="'color = ' + ${showCar.getColor()}">VALUE</p>-->
<!--        <br/> <hr/> <br/>-->

        <table border="5">
            <tr>
                <td style = "width: 80px; background-color: lightcyan;">id</td>
                <td style = "width: 400px; text-align: center;" th:text="${showCar.getId()}">VALUE</td>
            </tr>
            <tr>
                <td style = "background-color: lightcyan;">model </td>
                <td style = "text-align: center;" th:text = "${showCar.getModel()}">VALUE</td>
            </tr>
            <tr>
                <td style = "background-color: lightcyan;">series</td>
                <td style = "text-align: center;" th:text = "${showCar.getSeries()}">VALUE</td>
            </tr>
            <tr>
                <td style = "background-color: lightcyan;">color</td>
                <td style = "text-align: center;" th:text = "${showCar.getColor()}">VALUE</td>
            </tr>
        </table>

        <br/> <br/> <hr/> <br/>

        <form th:method="GET" th:action="@{/cars/edit/{id}(id=${showCar.getId()})}">
            <input type="submit" value="Edit"/>
        </form>
        <br/>

        <form th:method="DELETE" th:action="@{/cars/{id}(id=${showCar.getId()})}">
            <input type="submit" value="Delete"/>
        </form>
        <br/>

        <form th:method="GET" th:action="@{/cars/}">
            <input type="submit" value="To main page"/>
        </form>
        <br/>
    </body>
</html>
